<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

{% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- endif %}


<p><font size=1px>
<center>
         <span id="run_time_day">
              <i class="fas fa-spinner fa-pulse"></i>
            </span> Days |
            <script>
              setInterval(function (BirthDay) {
                function setzero(i) {
                  if (i < 10) return "0" + i;
                  return i;
                }
                BirthDay = new Date(BirthDay);
                today = new Date();
                timeold = (today.getTime() - BirthDay.getTime());
                sectimeold = timeold / 1000;
                secondsold = Math.floor(sectimeold);
                msPerDay = 24 * 60 * 60 * 1000;
                e_daysold = timeold / msPerDay;
                daysold = Math.floor(e_daysold);
                e_hrsold = (e_daysold - daysold) * 24;
                hrsold = Math.floor(e_hrsold);
                e_minsold = (e_hrsold - hrsold) * 60;
                minsold = Math.floor((e_hrsold - hrsold) * 60);
                seconds = Math.floor((e_minsold - minsold) * 60);
                document.getElementById("run_time_day").innerHTML = daysold;
                document.getElementById("run_time_hour").innerHTML = setzero(hrsold);
                document.getElementById("run_time_minute").innerHTML = setzero(minsold);
                document.getElementById("run_time_second").innerHTML = setzero(seconds);
              }, 1000, "01/11/2023 16:00:00")
            </script>
<span id="busuanzi_container_site_uv" style='display:none'>
    <span id="busuanzi_value_site_uv"></span> Persons |
</span>
<span id="busuanzi_container_site_pv" style='display:none'>
    <span id="busuanzi_value_site_pv"></span> Total Views
</span>
</font>
</center>
</p>